cycler==0.10.0
funcsigs==1.0.2
matplotlib==3.2.1 #d
mock==4.0.2 #d
numpy==1.18.4 #d
pandas==1.0.3 #d
pbr==5.4.5 #d
protobuf==3.11.3 #d
pyparsing==2.4.7 #d
python-dateutil==2.8.1 #d
pytz==2020.1 #d
scipy==1.4.1 #d
seaborn==0.10.1 #d
six==1.14.0 #d
tensorflow==2.2.0 #d
#all new version packages - different marked w/ #d